{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}

    <section>
        <div class="signin">

            <div class="content">

                <h2>LOGIN</h2>
                <form method="POST" class="w-100">
                    {{ form.hidden_tag() }}
                    <div class="form">

                        <div class="inputBox">
                            {{ form.username(class="", id="username") }}
                            <i class="input-label-i">  {{ form.username.label }}</i>
                        </div>

                        <div class="inputBox">
                            {{ form.password(class="", id="password") }}
                            <i class="input-label-i">  {{ form.password.label }}</i>
                        </div>
                        <div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="text-{{ category }}"> {{ message }} </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>

                        <div class="links"><a href="#">Forgot Password</a> <a href="{{ url_for('register_page') }}">Register</a>

                        </div>

                        {{ form.submit(class="btn btn-bg btn-block btn-primary my-2 p-3 font-20") }}

                    </div>
                </form>

            </div>

        </div>

    </section>



{% endblock %}

