{% extends "base.html" %}

{% block head %}
<title> Questions </title>
{% endblock %}


{% block body %}

    <h1 class="text-center">All questions here</h1>

    <div class="m-5">

        <form method="POST" action="/question" id="topic-form" style="margin: 10px;">
            <select class="btn btn-info" multiple name="topics" id="topics" data-placeholder="Choose a Topic..." tabindex="4">
                {% for topic in topics %}
                    <option value="{{ topic.id }}">{{ topic.topic }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>

    <div class="card-container" style="display: flex; flex-wrap: wrap;">
       {% for question in questions %}
         <div class="card" style="width: 500px; margin: 10px;">
          <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> {{ question.question }}</h5>
                  <div class="card-text" id="cardText{{ loop.index }}">
                         {{ question.answer | safe }}
                  </div>
                <a href="#" class="card-link readMoreLink" id="readMoreLink{{ loop.index }}">Read More</a>
                <div class="p-2 mb-1 bg-dark text-white rounded small">{{ question.topic }}</div>
              </div>
         </div>
          {% endfor %}
        </div>
    </div>


    <script>
        function sendTopic() {
            document.querySelector("#topic-form").submit()
        }

        // Read More/ Less
          $(document).ready(function() {
              // Add click event to all read more links
              $('.readMoreLink').click(function(e) {
                e.preventDefault();

                var cardIndex = $(this).attr('id').replace('readMoreLink', '');
                var cardText = $('#cardText' + cardIndex);

                // Get the full text content
                var fullText = cardText.data('fulltext');
                var truncatedText = cardText.data('truncatedtext');

                // Toggle between full text and truncated text on click
                if (cardText.text() === truncatedText) {
                  cardText.text(fullText);
                  $(this).text('Read Less');
                } else {
                  cardText.text(truncatedText);
                  $(this).text('Read More');
                }
              });

              // Truncate text for all cards initially
              $('.card-text').each(function() {
                var fullText = $(this).text();
                var truncatedText = fullText.substr(0, 100) + '...';
                $(this).data('fulltext', fullText);
                $(this).data('truncatedtext', truncatedText);
                $(this).text(truncatedText);
              });
            });
    </script>

    <!-- Script -->
    <script type="text/javascript">

 $(document).ready(function(){
    $('#topics').chosen({ width:'500px' });

    $('#topics').on('change', function(e) {
        e.preventDefault();

        var selectedValues = $('.test').val();
        //console.log(selectedValues)

        // Send an AJAX request to the Flask server
        $.post('/question', {'topics': selectedValues}, function(response) {

        });
    });
});

    </script>


{% endblock body %}