{% extends "base.html" %}

{% block head %}
<title>Quiz is runnnig </title>
{% endblock %}


{% block body %}
<section class="quiz-is-running">
    <div class="container text-center">
        <div class="score-div">
             <div class="questions-count">{{ session['current_question'] + 1}} /  {{session['question_limit'] }}</div>
             <div class="points">{{  actual_question.points }} </div>
        </div>

         <div class="quiz container w-100 d-flex flex-wrap justify-content-center align-items-center flex-column">
             <h3 style="color:white">  {{ actual_question.question }} </h3>
             <h1 class="answer-state"></h1>
            <form method="POST">
                 <div class="answers my-3">
                    {% for answer in answers %}
                        <div class="col-11 m-1 btn btn-primary" id="quiz-answer" data-answerid="{{ answer.id }}">{{ answer.quiz_answer }}</div>
                     {% endfor %}
                 </div>
            </form>
                <div class="flex-row">
                    {% if session['current_question'] > 0  %}
                        <a href="{{ url_for('next_question', question_order_id=session['current_question'] - 1) }}"><i class='fas fa-arrow-alt-circle-left' style='font-size:46px'></i></a>
                     {% else %}
                        <a href="#"><i class='fas fa-arrow-alt-circle-left' style='font-size:46px; color: rgba(255,255,255,0.09);'></i></a>
                    {% endif %}

                    {% if session['current_question'] < session['question_limit'] - 1 %}
                         <a href="{{ url_for('next_question', question_order_id=session['current_question'] + 1) }}"><i class='fas fa-arrow-alt-circle-right' style='font-size:46px'></i></a>
                     {% else %}
                        <a href="#"><i class='fas fa-arrow-alt-circle-right' style='font-size:46px; color:rgba(255,255,255,0.09);'></i></a>
                    {% endif %}
                </div>

                <a href="{{ url_for('quiz_end') }}" class="btn btn-light m-3 p-2">Ukončit Test</a>
            </div>
    </div>
</section>

    <script>
        // Get all the div elements with the class 'my-div'
            var answers = document.querySelectorAll('#quiz-answer');

            $(document).ready(function() {
                // Attach click event listener to each div
                answers.forEach(function(answer) {
                  answer.addEventListener('click', function() {
                    // Retrieve the data-id value of the clicked div
                    let answerID = this.dataset.answerid;
                    console.log(answerID)
                      $.post('/check_answer_correctness', {'answer_id': answerID}, function(response) {
                          if(response.user_correct_answer) {
                              $(".answer-state").removeClass("bad-answer")
                              $(".answer-state").addClass("correct-answer")
                              $(`div[data-answerid="${answerID}"]`).addClass('btn-success');
                          }
                          else {
                               $(".answer-state").removeClass("correct-answer")
                               $(".answer-state").addClass("bad-answer")
                               $(`div[data-answerid="${answerID}"]`).addClass("btn-danger")
                               $(`div[data-answerid="${response.correct_answer_id}"]`).addClass("btn-success")
                          }
                    });
                  });
                });
            })

    </script>


{% endblock body %}