{% extends "base.html" %}

{% block head %}
<title> quiz page </title>
{% endblock %}


{% block body %}
    <div class="container text-center">
        <h1 class="text-center">Start quiz</h1>

        <form method="POST">
            <select class="form-control"  placeholder="Choose Topic..." name="topics">
                {% for topic in topics %}
                    <option value="{{ topic.id }}">{{ topic.topic }}</option>
                {% endfor %}
                <input type="submit" class="btn btn-info w-25 p-3 m-1" value="START">
            </select>
        </form>

    </div>


{% endblock body %}